*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}

.card_view{
    background-color: white;
    width: 27%;
    border: gray 1px solid;
    border-radius: 8px;
    height: 100%;
  


   }
   .information{
    background-color: whitesmoke;
    padding-bottom: 55px;
    padding-top: 25px;
    
}
   .card_view h3{
       padding-top: 5px;
       margin-top: 10px;
       margin-bottom: 20px;
       text-decoration: none;
       margin-left: 10px;
       font-weight:500;
  
   }
   .card_view p{
      padding-top:5px;
       text-decoration: none;
       margin-left: 10px;
       color:#6f6f6f;

   }
  
   .container{
       background-color: whitesmoke;
       display: flex;
       justify-content: space-around;
       padding-bottom: 50px;

       flex-wrap: wrap;

     
   }


.bg_color{
    position: absolute;
    width: 100%;
    height :2%;
    padding: 7%;
    background-image: linear-gradient(#0e3a50,#00afa0);
   
}
.top_part{
    position: relative;

    /* left: 50%;
    padding-top: 15%; */
    padding-top: 5%;
    text-align: center;
 



}
    
    .mid_part{
    display: flex;
    justify-content: center;
    padding-top:1%;
    padding-bottom: 2%;

}
h2{
    color: #484848;
}

.profile_image{
    width:15%;
    height:15%;
    border-radius: 50%;
} 

.box_one{
    float: left;
    margin-left: 3%;
   
}
.box_two{
    float: right;
    margin-right: 3%;
    font-weight: 500;
    
  
    
}

@media screen and (max-width:800px){
 
    .container{
        background-color: whitesmoke;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-bottom: 50px;
        align-content: space-around;
 
      
    }
    .card_view{
        background-color: white;
        width: 55%;
        margin-bottom: 30px;
        border: gray 1px solid;
        border-radius: 8px;
        height: 100%;
      
    
    
       }
    .box_one{
        float: left;
        margin-left: 28%;
    }
    .box_two{
        float: right;
        margin-right: 28%;
        
    }
 
  
}